.dropdown-button {
    --button-size: calc(var(--nav-size));
    width: var(--button-size);
    height: var(--button-size);
    background-color: #c65d24;
    filter:invert();
    border-radius: 40%;
    border: 1px solid black;
    padding: 5%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 500ms;
}