.icon-button {
    --button-size: calc(var(--nav-size) + 10%);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #ffffff;
    border-radius: 40%;
    padding: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 500ms;
    color: black;
    position: static;
}

.icon-button:hover {
    filter: opacity(30%);
}

.icon-button svg {
    height: 90%;
}

.nav-title__wrapper {
    flex-wrap: wrap;
    text-align: left;
    transform: translateX(80px) translateY(-50px);
    color: beige;
    opacity: 50%;
}